.category-div {
  background-color: white;
  width: 70vw;
  height: 200px;
  border-radius: 30px;
}

.align-text-center {
  text-align: center;
}

.hover-btn:hover {
  transform: translate(5px, 5px);
  transition-duration: 5s;
  z-index: 1;
}

.hover-btn:hover {
  outline: 0;
}

button:focus {
  outline: none;
}
