.title-div {
  height: 150px;
  background-color: rgb(140, 197, 243);
}

.categories-div {
  min-height: 800px;
  background-color: rgb(140, 197, 243);
}

.align-text-center {
  text-align: center;
}

.text-header {
  font-size: 75px;
}

.flex-wrap {
  flex-wrap: wrap;
}

